@import '_fonts';
@import '_twemoji';

// TODO browser-specific specifiers for things, testing

html {
    height: 100vh;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 300;
    background-color: #2b2a29;
    color: #eee;
}

.container {
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
}

h1, h2, h3 {
    font-family: 'Fira Sans Condensed', sans-serif;
    font-weight: 600;

    code {
        font-size: 0.925em;
        font-weight: 500;
    }
}

h4, h5, h6 {
    font-family: 'Fira Sans Condensed', sans-serif;
    font-weight: 500;

    code {
        font-size: 0.925em;
        font-weight: 500;
    }
}

code {
    font-family: 'Fira Mono', monospace;
    font-size: 0.925em;
}

a {
    text-decoration: none;

    &:link, &:visited {
        color: #85c1ff;
    }
    &:hover, &:focus {
        color: #33ecff;
    }
    &:active {
        color: #f7a8da;
    }
}

#header {
    padding-top: 1.25em;
    text-align: center;
    margin-left: auto;
    margin-right: auto;

    h1 {
        font-size: 3em;
        margin-bottom: 0.1em;
    }

    p {
        font-size: 1.25em;
        margin-top: 0.5em;
        margin-bottom: 0.75em;
    }

    .links {
        text-align: center;

        a {
            padding: 0.5em;
        }
    }
}

.topic-header {
    padding-left: 0.25em;
}

.topic {
    // based on https://zoaibkhan.com/blog/fastest-way-to-make-a-responsive-card-grid-with-css/
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 0.1rem;

    .book {
        display: flex;
        flex-direction: column;
        border-radius: 10px;
        color: #e8e8e8;
        background-color: #505050;
        padding: 1.0em;
        margin: 0.35em;

        .title {
            margin-top: 0.25em;
        }

        .desc {
            flex-grow: 1;
        }

        .media {
            margin-top: auto;
            padding-top: 1em;
            text-align: right;

            a {
                padding-inline-start: 0.25em;

                &::before {
                    content: "[";
                }
                &::after {
                    content: "]";
                }
            }
        }
    }
}

footer {
    padding: 1.5em;
    display:flex;
    justify-content:center;
    align-items:center;
}

#scroll-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #85c1ff;
    width: 40px;
    height: 40px;
    display: block;
    text-decoration: none;
    border-radius: 10px;
    border: none;
    display: none;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease;

    &:hover, &:focus {
        background: #33ecff;
    }

    &:active {
        background: #f7a8da;
    }

    i {
        display: block;
        height: 30px;
        width: 30px;
        margin-left: auto;
        margin-right: auto;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 25px 25px;
        background-image: url("/up.svg");
    }
}
